# Enviroments
.env

# Python envs
backend/.venv/
backend/venv/
frontend/.venv/

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/

# Логи, sqlite, pycache
**/__pycache__/
**/*.py[cod]
*.sqlite3
*.log

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

reports/